<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mvp.myeffecttools">

    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.BIND_ACCESSIBILITY_SERVICE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.ApplicationActivity" />
        <activity android:name=".activities.ProcessesActivity" />
        <activity
            android:name=".activities.LockActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance"
            android:taskAffinity="com.mvp.lockTask" />
        <activity android:name=".activities.SettingActivity" />
        <activity android:name=".activities.LockAppsActivity" />

        <service android:name=".services.MonitorService"></service>
        <service
            android:name=".services.AutoReplyMMService"
            android:enabled="true"
            android:exported="true"
            android:label="@string/auto_reply_lable"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/service_config" />
        </service>
        <service
            android:name=".services.RobLuckyMoneyMMService"
            android:enabled="true"
            android:exported="true"
            android:label="@string/auto_lucky_money_lable"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/auto_rob_money_service_config" />
        </service>

        <activity android:name=".activities.SpashActivity"></activity>
    </application>

</manifest>